@{
    Style.Include("timetracking").AtHead();
}
<script src="Modules/EM.TimeTracking/Scripts/app/require.config.js"></script>
<script data-main="Modules/EM.TimeTracking/Scripts/app/startup" src="Modules/EM.TimeTracking/Scripts/libs/requirejs/require.js"></script>
<nav-bar params="route: route"></nav-bar>
<div id="page" class="container-fluid" data-bind="component: { name: route().page, params: route }"></div>