<section class="em-chart-sunburst-container">
    <div id="main" class="em-chart-sunburst-main">        
        <div id="chart" class="em-chart-sunburst-chart">
            <div id="explanation" class="em-chart-sunburst-explanation" style="visibility: hidden;">
                <span id="percentage" class="em-chart-sunburst-percentage"></span><br />
                of visits begin with this sequence of pages
            </div>
        </div>
    </div>
    <div id="sidebar" class="em-chart-sunburst-sidebar">
        <input type="checkbox" id="togglelegend"> Legend<br />
        <div id="legend" class="em-chart-sunburst-legend" style="visibility: hidden;"></div>
    </div>
    <div id="sequence" class="em-chart-sunburst-sequence"></div>
</section>