<h2>TimeTracking</h2>
<div id="timetracking-container" class="ttClear">
    <div class="ttFloatLeft ttMain">
        <p data-bind='text: message'></p>
        <button data-bind='click: doSomething'>Click me</button>
        <!-- Add a <table> element where the tree should appear: -->
        <table id="treetable">
            <colgroup>
                <col width="30">
                <col width="30">
                <col>
                <col width="50">
                <col width="30">
                <col width="50">
                <col width="50">
                <col width="50">
            </colgroup>
            <thead>
                <tr> <th></th> <th>#</th> <th></th> <th>Key</th> <th>Like</th> <th>20</th> <th>21</th> <th>22</th></tr>
            </thead>
            <tbody>
                <tr> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
            </tbody>
        </table>
    </div>
    <div class="ttFloatLeft ttLeft">
        <div class="timetracking-datepicker"></div>
    </div>
</div>