<!--
  The navigation UI that is docked to the top of the window. Most of this markup simply
  follows HTML 5 conventions. The only Knockout-specific parts are the data-bind
  attributes on the <li> elements.
-->
<nav>
    <ul>
        <li class="first" data-bind="css: { 'current': route().page === 'home-page' }">
            <a href="#">Overview</a>
        </li>
        <li data-bind="css: { 'current': route().page === 'timetracking-page' }">
            <a href="#timetracking">Timetracking</a>
        </li>
        <li data-bind="css: { 'current': route().page === 'customers-page' }">
            <a href="#customers">Customers</a>
        </li>
        <li data-bind="css: { 'current': route().page === 'billing-page' }">
            <a href="#billing">Billing</a>
        </li>
        <li data-bind="css: { 'current': route().page === 'expenses-page' }">
            <a href="#expenses">Expenses</a>
        </li>
        <li data-bind="css: { 'current': route().page === 'reports-page' }">
            <a href="#reports">Reports</a>
        </li>
        <li class="last" data-bind="css: { 'current': route().page === 'about-page' }">
            <a href="#about">About</a>
        </li>
    </ul>
</nav>
<div style="clear:both; padding-bottom:1em;"></div>